*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
body{
  border: 5px solid black;
}
.header{
  display: flex;
  justify-content: space-around;
  padding:10px 0px;
  font-size: 20px;
  width: auto;
  
}
.header .searchinput{
  border: 2px solid black;
  padding: 3px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.header .searchinput input{
 border: none;
 outline: none;
}

.header .headimage img{
  width: 100px;
}
.Offerimage img{
  width: 100%;
  
}
.electronics .collections ,.womancollections-hed .womancollections{
  display: flex;
}
.electronics .collections img{
  height: 230px;
  height: 230px;
  margin: 10px;
}
.womancollections img{
  width: 150px;
  height: 200px;
  margin: 3px;
}
.womancollections{
  width: 100%;
}